/* Slider.css */

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    position: relative;
  }
  
  .slides-container {
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  .slider h2{
    z-index: 1;
  }
  .slide {
    flex: 0 0 100%;
    transition: transform 0.3s ease-in-out;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .swipe-fade-up,.swipe-fade-right{
    opacity: 1;
  }
  .inner-slider {
    position: relative;
    width: 44%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inner-slider-content,iframe {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000000;
    min-height: 370px;
    border-radius: 100px 0px 100px 0px;
    width: 600px;
    background-position: center;
    z-index: 1;
  }
  .inner-slider-controls {
    display: flex;
    justify-content: space-between;
    width: 520px;
    margin-top: 10px;
    position: absolute;
    top: 45%;
    z-index: 2;
  }
  .inner-slider-controls button{
    background-color: #fff;
    border-radius: 100%;
    border: none;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .inner-slider-controls svg{
    fill: black;
  }
  .slideContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
}


  .slideContent .content{
    width: 50%;
    align-self: self-start;
    z-index: 1;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
    top: 12%;
  }
  
  .pagination-square {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #fff;
    margin: 0% 10px;
    transition: all 0.5;
  }
  
  .pagination-square.active {
    background-color: #333;
    width: 60px;
    height: 60px;
    transition: all 0.6s;
  }
  .inner-pagination{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    position: absolute;
    bottom: 4%;
    z-index: 1;
  }
.inner-pagination-square{
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
  .pagination-square0{
    background: url(/src/assets/home_poster1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
  }
  .pagination-square1{
    background: url(/src/assets/home_poster1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
  }
  .pagination-square2{
    background: url(/src/assets/home_poster1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
  }
  .pagination-square3{
    background: url(/src/assets/doc.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
  }
.line{
    align-self: self-start;
    background-color: #fff;
    height: 48px;
    width: 3px;
}
.slideindex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.docsDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    min-height: 300px;
}
.docs{
    width: 22%;
    margin: 11px 1%;
    height: 100px;
    border-radius: 25px 0px 25px 0px;
    background-color: rgb(170, 165, 165);
    z-index: 1;
}
.docs img{
  width: 100%;
  height: 100%;
  border-radius: 25px 0px 25px 0px;
}
.slideContent h3{
  font-size: 30px;
}
.slideContent .content button{
  color: #fff;
  background-color: #0d0a3f00;
  font-size: 20px;
  padding: 1% 8%;
  border: 2px solid #fff;
  border-radius: 0px 50px 0px 50px;
  margin-left: 1%;
  margin-bottom: 4%;
  font-family: 'Lexend', sans-serif;
}
.slideContent .content button:hover{
  color: #0d0a3f;
  background-color: #fff;

}
.textLine{
  display: flex;
  height: 20px;
  width: 2px;
  background-color: #fff;
  margin: 0% 4px;
}
.text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  font-size: 20px;
}
.myrole{
  font-size: 20px;
}


@media (max-width:1350px){
.slideContent {
  width: 100%;
}

}

@media (max-width:960px){
.slideContent{
  flex-direction: column;
}
.slideContent .content {
  width: 80%;
  align-self: center;
  text-align: center;
}
.text{
  margin: auto;
}
.slide {
  min-height: 952px;
}
.contactDiv{
  flex-direction: column;
}
.contactDiv form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.contactInfo {
  width: 100%;
  align-self: center;
  text-align: center;
}
.contactInfo p {
  justify-content: center;
}
.social{
  justify-content: center !important;
}
.inner-slider-content,iframe {
  min-height: 245px;
  width: 330px;
}
.inner-slider-controls {
  width: 356px;
}
.docs {
  width: 44%;
}
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(13, 10, 63, 0.9), rgba(255, 255, 255, 0.1));
}