@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
body{
  background-color: #040B3B;
  color: #fff;
  font-family: 'Lexend', sans-serif;
}
button{
  cursor: pointer;
}